html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: white;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    color: #1d1c1c;
}

.body--grey {
    background: hsl(0, 17%, 91%);
}